In [88]:
import geopandas as gpd
import pandas as pd
import shapely

In [6]:
shapeFilePath= 'puma/geo_export_a271959f-d135-40b7-aca2-b79e414a0ecb.shp'

In [8]:
pumasDF = gpd.GeoDataFrame.from_file(shapeFilePath)

In [9]:
len(pumasDF)

55

In [17]:
pumasDF['center']=pumasDF.geometry.centroid

In [33]:
pumasDF['lon']= pumasDF.center.apply(lambda x: x.coords[0][0])

In [34]:
pumasDF['lat']= pumasDF.center.apply(lambda x: x.coords[0][1])

In [59]:
pumasDF.head(50)

,puma,shape_area,shape_leng,geometry,center,lon,lat
0,3701,9.792852e+07,53227.144461,POLYGON ((-73.89641133483133 40.90450452082026...,POINT (-73.90488004491897 40.88944237744307),-73.904880,40.889442
1,3702,1.889860e+08,106050.002302,"POLYGON ((-73.8442314689986 40.86942035096838,...",POINT (-73.86164383659609 40.89000266817713),-73.861644,40.890003
2,3703,2.670137e+08,304071.257466,(POLYGON ((-73.78833349834532 40.8346671297593...,POINT (-73.81591891880724 40.85098182019305),-73.815919,40.850982
3,3704,1.062129e+08,47970.901277,"POLYGON ((-73.84792614069238 40.8713422330779,...",POINT (-73.85254361304345 40.85617727603634),-73.852544,40.856177
4,4015,8.105438e+07,50007.415493,POLYGON ((-73.95374853778468 40.63858633758547...,POINT (-73.95913848231912 40.6304034353875),-73.959138,40.630403
5,4016,1.207135e+08,109477.751817,POLYGON ((-73.94405560932151 40.61199284173428...,POINT (-73.94868474895661 40.59496435558172),-73.948685,40.594964
6,3705,1.224951e+08,68657.316149,POLYGON ((-73.87359713633828 40.83979855593596...,POINT (-73.88764478925582 40.8454003115686),-73.887645,40.845400
7,3706,4.388687e+07,51799.404183,"POLYGON ((-73.88785196328796 40.8721141761279,...",POINT (-73.89090043439518 40.87034738442431),-73.890900,40.870347
8,3707,4.228113e+07,37347.925798,"POLYGON ((-73.89735765412577 40.8587627349268,...",POINT (-73.90974420621956 40.85215691016509),-73.909744,40.852157
9,4006,6.184965e+07,42555.996557,POLYGON ((-73.95526963654763 40.67012490485409...,POINT (-73.94396863833509 40.67499464867871),-73.943969,40.674995
10,3708,5.589695e+07,34852.437966,POLYGON ((-73.91046008330409 40.84279164297445...,POINT (-73.92155583309277 40.83246352064193),-73.921556,40.832464
11,3709,1.241177e+08,73288.964465,(POLYGON ((-73.83667856364177 40.8175887629137...,POINT (-73.85952583206222 40.82537254951261),-73.859526,40.825373
12,3710,1.377966e+08,91086.012338,(POLYGON ((-73.89680883223774 40.7958084451597...,POINT (-73.89913757156046 40.80924495139417),-73.899138,40.809245
13,3801,8.124958e+07,64103.138480,(POLYGON ((-73.92640556921116 40.8776214765373...,POINT (-73.93066282000927 40.8559597849534),-73.930663,40.855960
14,4011,4.762886e+07,34965.040151,POLYGON ((-73.92828249221591 40.66144706650274...,POINT (-73.94789230568068 40.66136124701077),-73.947892,40.661361
15,4012,1.123044e+08,97261.951304,POLYGON ((-73.99684490483776 40.66903132477106...,POINT (-74.00155219873143 40.6499451626263),-74.001552,40.649945
16,3802,4.689908e+07,37925.566208,POLYGON ((-73.96909103244369 40.80843016507839...,POINT (-73.9557413378094 40.81674246555212),-73.955741,40.816742
17,4014,8.768042e+07,51089.073159,"POLYGON ((-73.9781907435932 40.64752599151113,...",POINT (-73.98268409154335 40.62993273057632),-73.982684,40.629933
18,3803,3.984279e+07,38064.749400,POLYGON ((-73.93515659173335 40.83268240673983...,POINT (-73.94458438614222 40.81321144944099),-73.944584,40.813211
19,3804,6.461212e+07,62599.500502,(POLYGON ((-73.92133752419279 40.8008521075021...,POINT (-73.93488155340299 40.79460101019122),-73.934882,40.794601
20,3805,5.516881e+07,53561.096534,(POLYGON ((-73.95037548074407 40.7631738455804...,POINT (-73.95572840064433 40.77156264783999),-73.955728,40.771563
21,3806,8.849786e+07,47538.426032,"POLYGON ((-73.96147779967508 40.7986541564366,...",POINT (-73.97222042547142 40.78418328276831),-73.972220,40.784183
22,3807,8.560261e+07,72181.026886,POLYGON ((-73.99667705784741 40.77351005394218...,POINT (-73.992120283017 40.75402076794726),-73.992120,40.754021
23,3808,4.498784e+07,44430.927768,(POLYGON ((-73.96236596889439 40.7242090616142...,POINT (-73.97519472476004 40.74533720790215),-73.975195,40.745337
24,3809,4.869347e+07,35299.804402,(POLYGON ((-73.98237340572007 40.7055433504376...,POINT (-73.98612087066104 40.7193639314733),-73.986121,40.719364
25,3810,8.104639e+07,122921.903883,(POLYGON ((-74.01092841268031 40.6844914725429...,POINT (-74.00741962388668 40.71719618427756),-74.007420,40.717196
26,3901,5.716835e+08,194764.602625,(POLYGON ((-74.05050806403247 40.5664220341608...,POINT (-74.18701235880864 40.53895635037436),-74.187012,40.538956
27,3902,6.760200e+08,153346.560463,POLYGON ((-74.19568609223383 40.63501686464009...,POINT (-74.14332401147432 40.59074592734807),-74.143324,40.590746
28,3903,3.762172e+08,158133.905168,(POLYGON ((-74.15945602372209 40.6414483333249...,POINT (-74.12035592647037 40.6266750681233),-74.120356,40.626675
29,4001,1.149292e+08,74076.375782,POLYGON ((-73.96736391699473 40.71648367905524...,POINT (-73.94838946012852 40.71844654341944),-73.948389,40.718447
30,4002,7.068699e+07,44917.413671,"POLYGON ((-73.9443878859649 40.70042452378259,...",POINT (-73.92063771623981 40.69695112137774),-73.920638,40.696951
31,4003,6.403672e+07,44724.499267,POLYGON ((-73.93177404621468 40.69502821534668...,POINT (-73.94106886175132 40.68986979502581),-73.941069,40.689870
32,4004,8.663744e+07,73144.345090,POLYGON ((-73.98653302974755 40.68037263893455...,POINT (-73.9773899249268 40.69265985801692),-73.977390,40.692660
33,4005,1.145138e+08,95454.920371,POLYGON ((-74.00179431981029 40.69218477678886...,POINT (-73.98810513406866 40.67187041046311),-73.988105,40.671870
34,4007,7.220681e+07,44862.448657,"POLYGON ((-73.92281106533045 40.6670717607133,...",POINT (-73.90719862560917 40.66820469266747),-73.907199,40.668205
35,4008,1.643642e+08,98346.817406,(POLYGON ((-73.88828531356056 40.6467224132760...,POINT (-73.87752405536989 40.66497079586664),-73.877524,40.664971
36,4010,8.590867e+07,49993.274837,POLYGON ((-73.92021313014989 40.65997544070714...,POINT (-73.93429140089751 40.64767221429146),-73.934291,40.647672
37,4013,1.070001e+08,48174.716989,POLYGON ((-74.03407329294261 40.64431393296393...,POINT (-74.02389573643104 40.62289168440157),-74.023896,40.622892
38,4017,1.029831e+08,48998.334128,POLYGON ((-73.99254973550626 40.62427426827659...,POINT (-73.99362544203136 40.60688579264574),-73.993625,40.606886
39,4018,9.604206e+07,76218.368926,POLYGON ((-74.00482247799985 40.57289022780212...,POINT (-73.98104239708664 40.58140437971682),-73.981042,40.581404
40,4101,1.432420e+08,70492.955589,"POLYGON ((-73.95080763818348 40.7552636801143,...",POINT (-73.91739831474212 40.76877755136937),-73.917398,40.768778
41,4102,1.171050e+08,62651.697404,(POLYGON ((-73.89008921733482 40.7736264355254...,POINT (-73.87589629578324 40.76219616675294),-73.875896,40.762196
42,4103,3.298601e+08,144145.949178,(POLYGON ((-73.86788407404643 40.7873610366938...,POINT (-73.81589753881025 40.77146781081539),-73.815898,40.771468
43,4104,2.605331e+08,99232.259902,POLYGON ((-73.74344992265885 40.77824115341611...,POINT (-73.75928257891248 40.75650209976236),-73.759283,40.756502
44,4105,5.497134e+08,205312.223571,"POLYGON ((-73.70584734754668 40.7306728543998,...",POINT (-73.75499143990056 40.68050788616206),-73.754991,40.680508
45,4106,2.072142e+08,79710.509650,POLYGON ((-73.82018883870505 40.71673522411895...,POINT (-73.79619817836026 40.72584280131516),-73.796198,40.725843
46,4107,1.075119e+08,99948.247161,POLYGON ((-73.86462193290036 40.73428169011396...,POINT (-73.8551551873099 40.74062302859856),-73.855155,40.740623
47,4108,7.776947e+07,37997.461104,POLYGON ((-73.84732494125392 40.73877145757437...,POINT (-73.8516898521568 40.72264294390501),-73.851690,40.722643
48,4109,1.669713e+08,94785.072653,POLYGON ((-73.94140886325435 40.73929957070605...,POINT (-73.91970472053005 40.74071652884385),-73.919705,40.740717
49,4110,2.050472e+08,71251.084890,POLYGON ((-73.89783236941891 40.73516035418231...,POINT (-73.88945822607845 40.71040472125203),-73.889458,40.710405

In [36]:
from __future__ import print_function

import json
import requests
import sys
import urllib

try:
    # For Python 3.0 and later
    from urllib.error import HTTPError
    from urllib.parse import quote
    from urllib.parse import urlencode
except ImportError:
    # Fall back to Python 2's urllib2 and urllib
    from urllib2 import HTTPError
    from urllib import quote
from urllib import urlencode

In [37]:
API_KEY = 'DZStxM87nhXlJBL3JsvXK9KjzxLiuPktRXFX_cm4_debQ4j5W_lbGL_uaWDCYW2nzvGG1MpPN5lUUx03mGaVRWlOqhsuaFFf_AO1IgKStDtJYbwPK4pzFBbRNxL6W3Yx'

In [38]:
# API constants, you shouldn't have to change these.
API_HOST = 'https://api.yelp.com'
SEARCH_PATH = '/v3/businesses/search'
BUSINESS_PATH = '/v3/businesses/'  # Business ID will come after slash.
EVENTS_PATH = '/v3/events'

In [39]:
def request(host, path, api_key, url_params=None):
    """Given your API_KEY, send a GET request to the API.
    Args:
        host (str): The domain host of the API.
        path (str): The path of the API after the domain.
        API_KEY (str): Your API Key.
        url_params (dict): An optional set of query parameters in the request.
    Returns:
        dict: The JSON response from the request.
    Raises:
        HTTPError: An error occurs from the HTTP request.
    """
    url_params = url_params or {}
    url = '{0}{1}'.format(host, quote(path.encode('utf8')))
    headers = {
        'Authorization': 'Bearer %s' % api_key,
    }

    print(u'Querying {0} ...'.format(url))

    response = requests.request('GET', url, headers=headers, params=url_params)

    return response.json()

In [42]:
def search(term, lat, lon):
    """Query the Search API by a search term and location.
    Args:
        term (str): The search term passed to the API.
        location (str): The search location passed to the API.
    Returns:
        dict: The JSON response from the request.
    """

    url_params = {
        'term': term.replace(' ', '+'),
        'latitude': lat,
        'longitude': lon,
        'limit': SEARCH_LIMIT,
        'sort_by': SORTER
    }
    return request(API_HOST, SEARCH_PATH, API_KEY, url_params=url_params)

## Business

In [64]:
SEARCH_LIMIT = 50
TERM = 'nightlife'
RADIUS = 40000
SORTER = 'distance'

In [70]:
nightLife = []
for i in range(len(pumasDF)):
    data = search(TERM,lat = pumasDF.loc[i,'lat'], lon = pumasDF.loc[i,'lon'])
    nightLife.append(data)
    print(str(i)+': '+str(len(data['businesses'])))
    filename = 'puma_nightlife/'+str(pumasDF.loc[i,'puma'])+'.json'
    with open(filename, 'w') as fp:
        json.dump(data, fp)

Querying https://api.yelp.com/v3/businesses/search ...
0: 50
Querying https://api.yelp.com/v3/businesses/search ...
1: 50
Querying https://api.yelp.com/v3/businesses/search ...
2: 50
Querying https://api.yelp.com/v3/businesses/search ...
3: 50
Querying https://api.yelp.com/v3/businesses/search ...
4: 50
Querying https://api.yelp.com/v3/businesses/search ...
5: 50
Querying https://api.yelp.com/v3/businesses/search ...
6: 50
Querying https://api.yelp.com/v3/businesses/search ...
7: 50
Querying https://api.yelp.com/v3/businesses/search ...
8: 50
Querying https://api.yelp.com/v3/businesses/search ...
9: 50
Querying https://api.yelp.com/v3/businesses/search ...
10: 50
Querying https://api.yelp.com/v3/businesses/search ...
11: 50
Querying https://api.yelp.com/v3/businesses/search ...
12: 50
Querying https://api.yelp.com/v3/businesses/search ...
13: 50
Querying https://api.yelp.com/v3/businesses/search ...
14: 50
Querying https://api.yelp.com/v3/businesses/search ...
15: 50
Querying https://api.yelp.com/v3/businesses/search ...
16: 50
Querying https://api.yelp.com/v3/businesses/search ...
17: 50
Querying https://api.yelp.com/v3/businesses/search ...
18: 50
Querying https://api.yelp.com/v3/businesses/search ...
19: 50
Querying https://api.yelp.com/v3/businesses/search ...
20: 50
Querying https://api.yelp.com/v3/businesses/search ...
21: 50
Querying https://api.yelp.com/v3/businesses/search ...
22: 50
Querying https://api.yelp.com/v3/businesses/search ...
23: 50
Querying https://api.yelp.com/v3/businesses/search ...
24: 50
Querying https://api.yelp.com/v3/businesses/search ...
25: 50
Querying https://api.yelp.com/v3/businesses/search ...
26: 50
Querying https://api.yelp.com/v3/businesses/search ...
27: 50
Querying https://api.yelp.com/v3/businesses/search ...
28: 50
Querying https://api.yelp.com/v3/businesses/search ...
29: 50
Querying https://api.yelp.com/v3/businesses/search ...
30: 50
Querying https://api.yelp.com/v3/businesses/search ...
31: 50
Querying https://api.yelp.com/v3/businesses/search ...
32: 50
Querying https://api.yelp.com/v3/businesses/search ...
33: 50
Querying https://api.yelp.com/v3/businesses/search ...
34: 50
Querying https://api.yelp.com/v3/businesses/search ...
35: 50
Querying https://api.yelp.com/v3/businesses/search ...
36: 50
Querying https://api.yelp.com/v3/businesses/search ...
37: 50
Querying https://api.yelp.com/v3/businesses/search ...
38: 50
Querying https://api.yelp.com/v3/businesses/search ...
39: 50
Querying https://api.yelp.com/v3/businesses/search ...
40: 50
Querying https://api.yelp.com/v3/businesses/search ...
41: 50
Querying https://api.yelp.com/v3/businesses/search ...
42: 50
Querying https://api.yelp.com/v3/businesses/search ...
43: 50
Querying https://api.yelp.com/v3/businesses/search ...
44: 50
Querying https://api.yelp.com/v3/businesses/search ...
45: 50
Querying https://api.yelp.com/v3/businesses/search ...
46: 50
Querying https://api.yelp.com/v3/businesses/search ...
47: 50
Querying https://api.yelp.com/v3/businesses/search ...
48: 50
Querying https://api.yelp.com/v3/businesses/search ...
49: 50
Querying https://api.yelp.com/v3/businesses/search ...
50: 50
Querying https://api.yelp.com/v3/businesses/search ...
51: 50
Querying https://api.yelp.com/v3/businesses/search ...
52: 50
Querying https://api.yelp.com/v3/businesses/search ...
53: 50
Querying https://api.yelp.com/v3/businesses/search ...
54: 50

In [71]:
len(nightLife)

55

In [72]:
businesses = []
for b in nightLife:
    businesses += b['businesses']

In [73]:
len(businesses)

2750

In [78]:
businessesSet = []
businessIds = []
for b in businesses:
    if b['id'] not in businessIds:
        businessIds.append(b['id'])
        businessesSet.append(b)

In [79]:
len(businessesSet)

1917

In [ ]:
# name, price, lat, lon, rating, review_count

In [86]:
cleanbusiness = []
for b in businessesSet:
    bus = {}
    bus['name'] = b['name']
    if 'price' in b:
        bus['price'] = len(b['price'])
    if 'coordinates' in b:
        bus['lat']= b['coordinates']['latitude']
        bus['lon']= b['coordinates']['longitude']
    if 'rating' in b:
        bus['rating'] = b['rating']
    if 'review_count' in b:
        bus['review_count'] = b['review_count']
    cleanbusiness.append(bus)

In [87]:
businessDF = pd.DataFrame(cleanbusiness)
businessDF.head()

         lat        lon                    name  price  rating  review_count
0  40.887380 -73.904980      An Beal Bocht Cafe    2.0     4.0           112
1  40.887070 -73.904520    Fenwicks Bar & Grill    1.0     1.5             8
2  40.887361 -73.907142  Blackstone Bar & Grill    2.0     4.0            73
3  40.886307 -73.907444         The Hill Bistro    2.0     4.5           118
4  40.886074 -73.907092           Cocina Chente    2.0     4.0            85

In [89]:
# converting latitude longitude into geometry POINT
businessDF['lonlat'] = list(zip(businessDF["lon"].values,businessDF["lat"].values))
businessDF['geometry'] = businessDF[['lonlat']].applymap(lambda x:shapely.geometry.Point(x))

In [91]:
businessDF = businessDF[['name','price','rating','review_count','geometry']]

In [92]:
businessDF.head()

,name,price,rating,review_count,geometry
0,An Beal Bocht Cafe,2.0,4.0,112,POINT (-73.90497999999999 40.88738)
1,Fenwicks Bar & Grill,1.0,1.5,8,POINT (-73.90452000000001 40.88707)
2,Blackstone Bar & Grill,2.0,4.0,73,POINT (-73.9071422050018 40.887361171014)
3,The Hill Bistro,2.0,4.5,118,POINT (-73.9074443768295 40.8863067063563)
4,Cocina Chente,2.0,4.0,85,POINT (-73.9070924953627 40.8860743476189)

In [96]:
crs = {'init': 'epsg:4326'}

In [97]:
businessGDF = gpd.GeoDataFrame(businessDF, crs = crs)

In [98]:
businessGDF.crs

{'init': 'epsg:4326'}

In [99]:
businessGDF.to_file("yelpNightlife/yelpBusiness.shp")

## Events

In [100]:
def search_event(start_date,end_date,latitude,longitude,categories):
    """Query the Search API by a search term and location.
    Args:
        term (str): The search term passed to the API.
        location (str): The search location passed to the API.
    Returns:
        dict: The JSON response from the request.
    """

    url_params = {
        'start_date': start_date,
        'end_date': end_date,
        'latitude': latitude,
        'longitude': longitude,
        'categories': categories,
        'limit': SEARCH_LIMIT
    }
    return request(API_HOST, EVENTS_PATH, API_KEY, url_params=url_params)

In [102]:
from datetime import datetime, date
def getUnix(dt):
    return int((dt - datetime(1970,1,1)).total_seconds())

In [112]:
start_date = getUnix( datetime(2016,1,1) )
end_date = getUnix( datetime(2016,12,30) )
#latitude = 40.70544486444615
#longitude = -73.99429321289062
categories = 'nightlife'

In [113]:
events = []
for i in range(len(pumasDF)):
    data = search_event(start_date,end_date,pumasDF.loc[i,'lat'],pumasDF.loc[i,'lon'],categories)
    #data = search(TERM,lat = pumasDF.loc[i,'lat'], lon = pumasDF.loc[i,'lon'])
    events.append(data)
    print(str(i)+': '+str(len(data['events'])))
    filename = 'puma_events/'+str(pumasDF.loc[i,'puma'])+'.json'
    with open(filename, 'w') as fp:
        json.dump(data, fp)

Querying https://api.yelp.com/v3/events ...
0: 50
Querying https://api.yelp.com/v3/events ...
1: 18
Querying https://api.yelp.com/v3/events ...
2: 15
Querying https://api.yelp.com/v3/events ...
3: 12
Querying https://api.yelp.com/v3/events ...
4: 50
Querying https://api.yelp.com/v3/events ...
5: 7
Querying https://api.yelp.com/v3/events ...
6: 50
Querying https://api.yelp.com/v3/events ...
7: 50
Querying https://api.yelp.com/v3/events ...
8: 50
Querying https://api.yelp.com/v3/events ...
9: 50
Querying https://api.yelp.com/v3/events ...
10: 50
Querying https://api.yelp.com/v3/events ...
11: 21
Querying https://api.yelp.com/v3/events ...
12: 50
Querying https://api.yelp.com/v3/events ...
13: 50
Querying https://api.yelp.com/v3/events ...
14: 50
Querying https://api.yelp.com/v3/events ...
15: 50
Querying https://api.yelp.com/v3/events ...
16: 50
Querying https://api.yelp.com/v3/events ...
17: 50
Querying https://api.yelp.com/v3/events ...
18: 50
Querying https://api.yelp.com/v3/events ...
19: 50
Querying https://api.yelp.com/v3/events ...
20: 50
Querying https://api.yelp.com/v3/events ...
21: 50
Querying https://api.yelp.com/v3/events ...
22: 50
Querying https://api.yelp.com/v3/events ...
23: 50
Querying https://api.yelp.com/v3/events ...
24: 50
Querying https://api.yelp.com/v3/events ...
25: 50
Querying https://api.yelp.com/v3/events ...
26: 5
Querying https://api.yelp.com/v3/events ...
27: 1
Querying https://api.yelp.com/v3/events ...
28: 3
Querying https://api.yelp.com/v3/events ...
29: 50
Querying https://api.yelp.com/v3/events ...
30: 50
Querying https://api.yelp.com/v3/events ...
31: 50
Querying https://api.yelp.com/v3/events ...
32: 50
Querying https://api.yelp.com/v3/events ...
33: 50
Querying https://api.yelp.com/v3/events ...
34: 23
Querying https://api.yelp.com/v3/events ...
35: 25
Querying https://api.yelp.com/v3/events ...
36: 50
Querying https://api.yelp.com/v3/events ...
37: 11
Querying https://api.yelp.com/v3/events ...
38: 8
Querying https://api.yelp.com/v3/events ...
39: 9
Querying https://api.yelp.com/v3/events ...
40: 50
Querying https://api.yelp.com/v3/events ...
41: 50
Querying https://api.yelp.com/v3/events ...
42: 14
Querying https://api.yelp.com/v3/events ...
43: 1
Querying https://api.yelp.com/v3/events ...
44: 3
Querying https://api.yelp.com/v3/events ...
45: 10
Querying https://api.yelp.com/v3/events ...
46: 50
Querying https://api.yelp.com/v3/events ...
47: 50
Querying https://api.yelp.com/v3/events ...
48: 50
Querying https://api.yelp.com/v3/events ...
49: 50
Querying https://api.yelp.com/v3/events ...
50: 50
Querying https://api.yelp.com/v3/events ...
51: 9
Querying https://api.yelp.com/v3/events ...
52: 4
Querying https://api.yelp.com/v3/events ...
53: 2
Querying https://api.yelp.com/v3/events ...
54: 3

In [114]:
all_events = []
for b in events:
    all_events += b['events']

In [115]:
len(all_events)

1904

In [116]:
eventsSet = []
eventIds = []
for b in all_events:
    if b['id'] not in eventIds:
        eventIds.append(b['id'])
        eventsSet.append(b)

In [117]:
len(eventsSet)

365

In [ ]:
# name, attending_count, interested_count, longitude, latitude, cost, cost_max, time_start, time_end, is_free

In [120]:
cleanevents = []
for b in eventsSet:
    bus = {}
    bus['name'] = b['name']
    if 'attending_count' in b:
        bus['attending_count'] = b['attending_count']
    if 'interested_count' in b:
        bus['interested_count'] = b['interested_count']
    if 'longitude' in b:
        bus['lon'] = b['longitude']
    if 'latitude' in b:
        bus['lat'] = b['latitude']
    if 'cost' in b:
        bus['cost'] = b['cost']
    if 'cost_max' in b:
        bus['cost_max'] = b['cost_max']
    if 'time_start' in b:
        bus['time_start'] = b['time_start']
    if 'time_end' in b:
        bus['time_end'] = b['time_end']
    if 'is_free' in b:
        bus['is_free'] = b['is_free']
    cleanevents.append(bus)

In [121]:
eventsDF = pd.DataFrame(cleanevents)
eventsDF.head()

,attending_count,cost,cost_max,interested_count,is_free,lat,lon,name,time_end,time_start
0,2,10.0,25.0,1,False,40.867039,-73.922393,Quiet Clubbing Takes Over The Upper West Side!,2016-03-20 09:00,2016-03-20 05:00
1,1,0.0,20.0,0,False,40.889351,-73.899257,Industry Fridays :: Barcelona Nights,2016-02-06 12:00,2016-02-06 06:00
2,1,10.0,25.0,0,False,40.867039,-73.922393,Quiet Clubbing Takes Over Uptown!,2016-03-20 09:00,2016-03-20 05:00
3,1,0.0,10.0,0,False,40.919533,-73.864788,Latin Night at Empire City Casino,None,2016-04-03 05:00
4,1,5.0,25.0,0,False,40.919533,-73.864788,"Comedy Night with Jackie ""the Joke Man"" Martling",None,2016-04-28 03:00

In [122]:
# converting latitude longitude into geometry POINT
eventsDF['lonlat'] = list(zip(eventsDF["lon"].values,eventsDF["lat"].values))
eventsDF['geometry'] = eventsDF[['lonlat']].applymap(lambda x:shapely.geometry.Point(x))

In [125]:
print([str(c) for c in eventsDF.columns])

['attending_count', 'cost', 'cost_max', 'interested_count', 'is_free', 'lat', 'lon', 'name', 'time_end', 'time_start', 'lonlat', 'geometry']

In [126]:
eventsDF = eventsDF[['attending_count', 'cost', 'cost_max', 'interested_count', 'is_free', 'name', 'time_end', 'time_start', 'geometry']]

In [127]:
crs = {'init': 'epsg:4326'}

eventsGDF = gpd.GeoDataFrame(eventsDF, crs = crs)

eventsGDF.crs

{'init': 'epsg:4326'}

In [ ]:
eventsGDF['is_free'] = eventsGDF.is_free.astype(int)

In [131]:
eventsGDF.head()

,attending_count,cost,cost_max,interested_count,is_free,name,time_end,time_start,geometry
0,2,10.0,25.0,1,0,Quiet Clubbing Takes Over The Upper West Side!,2016-03-20 09:00,2016-03-20 05:00,POINT (-73.92239290000001 40.8670387)
1,1,0.0,20.0,0,0,Industry Fridays :: Barcelona Nights,2016-02-06 12:00,2016-02-06 06:00,POINT (-73.89925700000001 40.889351)
2,1,10.0,25.0,0,0,Quiet Clubbing Takes Over Uptown!,2016-03-20 09:00,2016-03-20 05:00,POINT (-73.92239290000001 40.8670387)
3,1,0.0,10.0,0,0,Latin Night at Empire City Casino,None,2016-04-03 05:00,POINT (-73.8647879 40.919533)
4,1,5.0,25.0,0,0,"Comedy Night with Jackie ""the Joke Man"" Martling",None,2016-04-28 03:00,POINT (-73.8647879 40.919533)

In [132]:
eventsGDF.to_file("yelpEvents/yelpEvents.shp")

In [109]:
all_events[0].keys()

[u'category',
 u'business_id',
 u'event_site_url',
 u'attending_count',
 u'time_start',
 u'description',
 u'location',
 u'cost_max',
 u'time_end',
 u'is_free',
 u'name',
 u'interested_count',
 u'cost',
 u'image_url',
 u'longitude',
 u'latitude',
 u'is_official',
 u'id',
 u'tickets_url',
 u'is_canceled']

In [119]:
all_events[0]

{u'attending_count': 2,
 u'business_id': u'inwood-bar-and-grill-new-york',
 u'category': u'nightlife',
 u'cost': 10.0,
 u'cost_max': 25.0,
 u'description': u"We've got a very special Quiet Clubbing Bash, going down at the Inwood Bar And Grille! As you already know, our parties have been getting bigger and better...",
 u'event_site_url': u'https://www.yelp.com/events/new-york-quiet-clubbing-takes-over-the-upper-west-side?adjust_creative=yhLoLzsNXKw40xZ5RCWPpA&utm_campaign=yelp_api_v3&utm_medium=api_v3_event_search&utm_source=yhLoLzsNXKw40xZ5RCWPpA',
 u'id': u'new-york-quiet-clubbing-takes-over-the-upper-west-side',
 u'image_url': u'https://s3-media2.fl.yelpcdn.com/ephoto/jNQyiYke2fF13HWVMs52-w/o.jpg',
 u'interested_count': 1,
 u'is_canceled': False,
 u'is_free': False,
 u'is_official': False,
 u'latitude': 40.8670387,
 u'location': {u'address1': u'4892 Broadway',
  u'address2': u'',
  u'address3': u'',
  u'city': u'New York',
  u'country': u'US',
  u'cross_streets': u'207th St & 204th St',
  u'display_address': [u'4892 Broadway', u'New York, NY 10034'],
  u'state': u'NY',
  u'zip_code': u'10034'},
 u'longitude': -73.9223929,
 u'name': u'Quiet Clubbing Takes Over The Upper West Side!',
 u'tickets_url': u'https://quietevents.com/events/quiet-clubbing-upper-west-side/',
 u'time_end': u'2016-03-20 09:00',
 u'time_start': u'2016-03-20 05:00'}